:root {
  --primary-color: #ffffff;
  /* --navbar-color: #14103a; */
  --navbar-color: #202025;

  /* --secondary-color: #962E2A; */
  --labels-color: white;
  --secondary-color: #f5f5f5;

  --buttons-color: #0d6efd;
  /* --buttons-color: #3f3f32; */
  --hero-section-bg-color: #28154b;
  --hero-section-labels-color: #272323;
}
