@import "./Colors.css";

.navbar-custom {
  height: 70px; /* Fixed height */
  font-size: 1rem; /* Increase font size */
  background-color: var(--navbar-color);
}

.navbar-custom .nav-link-custom {
  /* color: black !important;  */
  font-weight: 600px;
}

.navbar-custom .nav-link-custom:hover {
  color: var(
    --labels-color
  ) !important; /* Change this to your desired hover color */
}

.navbar-custom .nav-link-active {
  color: var(--labels-color) !important; /* Active link color */
}

.custom-dropdown-item {
  color: #272323 !important; /* Set text color to grey */
  background-color: transparent !important; /* Ensure the background is transparent */
}

.custom-dropdown-item:hover {
  color: white !important; /* Optional: Change color on hover */
  background-color: #272323 !important; /* Optional: Change background on hover */
}

.custom-divider {
  background-color: #272323;
}

.logo-img {
  margin-top: 4px;
  width: 180px;
  height: 180px;
}

.button-login {
  margin-right: 10px;
  background-color: var(--buttons-color);
}

.button-register {
  background-color: var(--buttons-color);
}
