@import "./Colors.css";

.navbar-custom {
  height: 70px;
  font-size: 1rem;
  background-color: var(--navbar-color);
}

.navbar-custom .nav-link-custom {
  font-weight: 600px;
}

.navbar-custom .nav-link-custom:hover {
  color: var(--labels-color) !important;
}

.navbar-custom .nav-link-active {
  color: var(--labels-color) !important;
}

.custom-dropdown-item {
  color: #272323 !important;
  background-color: transparent !important;
}

.custom-dropdown-item:hover {
  color: white !important;
  background-color: #272323 !important;
}

.custom-divider {
  background-color: #272323;
}

.logo-img {
  margin-top: 4px;
  width: 180px;
  height: 180px;
}

.button-login {
  margin-right: 10px;
  background-color: var(--buttons-color);
}

.button-register {
  background-color: var(--buttons-color);
}
